/* Fonts */
:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root { 
  --background-color: #ffffff; /* Background color for the entire website, including individual sections */
  --default-color: #4e4e4e; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #0a090f; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #0078ff; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #ffffff;  /* The default color of the main navmenu links */
  --nav-hover-color: #ffffff; /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #212529; /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #0078ff; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
  --background-color: #f9f9f9;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #060606;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #252525;
  --contrast-color: #ffffff;
}

.accent-background {
  --background-color: #0078ff;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --accent-color: #ffffff;
  --surface-color: #3393ff;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
/* h4, */
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  --background-color: #000000;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 20px 0;
  transition: all 0.5s;
  z-index: 997;
}

.header .logo {
  line-height: 1;
}

.header .logo img {
  max-height: 32px;
  margin-right: 8px;
}

.header .logo h1 {
  font-size: 30px;
  margin: 0;
  font-weight: 700;
  color: var(--heading-color);
}

.scrolled .header {
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
@media (min-width: 1200px) {
  .navmenu {
    padding: 0;
  }

  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu>ul>li {
    white-space: nowrap;
    padding: 15px 14px;
  }

  .navmenu>ul>li:last-child {
    padding-right: 0;
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-color);
    font-size: 15px;
    padding: 0 2px;
    font-family: var(--nav-font);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
  }

  .navmenu>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--nav-hover-color);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navmenu a:hover:before,
  .navmenu li:hover>a:before,
  .navmenu .active:before {
    visibility: visible;
    width: 100%;
  }

  .navmenu li:hover>a,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--nav-hover-color);
  }

  .navmenu .dropdown ul {
    margin: 0;
    padding: 10px 0;
    background: var(--nav-dropdown-background-color);
    display: block;
    position: absolute;
    visibility: hidden;
    left: 14px;
    top: 130%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }

  .navmenu .dropdown ul li {
    min-width: 200px;
  }

  .navmenu .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: var(--nav-dropdown-color);
  }

  .navmenu .dropdown ul a i {
    font-size: 12px;
  }

  .navmenu .dropdown ul a:hover,
  .navmenu .dropdown ul .active:hover,
  .navmenu .dropdown ul li:hover>a {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navmenu .dropdown .dropdown ul {
    top: 0;
    left: -90%;
    visibility: hidden;
  }

  .navmenu .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: -100%;
    visibility: visible;
  }
}

/* Mobile Navigation */
@media (max-width: 1199px) {
  .mobile-nav-toggle {
    color: var(--nav-color);
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu {
    padding: 0;
    z-index: 9997;
  }

  .navmenu ul {
    display: none;
    list-style: none;
    position: absolute;
    inset: 60px 20px 20px 20px;
    padding: 10px 0;
    margin: 0;
    border-radius: 6px;
    background-color: var(--nav-mobile-background-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    box-shadow: none;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-dropdown-color);
    padding: 10px 20px;
    font-family: var(--nav-font);
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
  }

  .navmenu a i:hover,
  .navmenu a:focus i:hover {
    background-color: var(--accent-color);
    color: var(--contrast-color);
  }

  .navmenu a:hover,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .active i,
  .navmenu .active:focus i {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    transform: rotate(180deg);
  }

  .navmenu .dropdown ul {
    position: static;
    display: none;
    z-index: 99;
    padding: 10px 0;
    margin: 10px 20px;
    background-color: var(--nav-dropdown-background-color);
    transition: all 0.5s ease-in-out;
  }

  .navmenu .dropdown ul ul {
    background-color: rgba(33, 37, 41, 0.1);
  }

  .navmenu .dropdown>.dropdown-active {
    display: block;
    background-color: rgba(33, 37, 41, 0.03);
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    position: absolute;
    font-size: 32px;
    top: 15px;
    right: 15px;
    margin-right: 0;
    z-index: 9999;
  }

  .mobile-nav-active .navmenu {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
    transition: 0.3s;
  }

  .mobile-nav-active .navmenu>ul {
    display: block;
  }
}

/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 14px;
  padding: 40px 0;
  position: relative;
}

.footer .copyright p {
  margin-bottom: 0;
}

.footer .social-links {
  margin-top: 20px;
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 30%);
  font-size: 16px;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  margin: 0 5px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: var(--default-color);
  border-color: var(--default-color);
}

.footer .credits {
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
}

.footer .credits a {
  color: color-mix(in srgb, var(--default-color), transparent 30%);
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: var(--background-color);
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #ffffff;
  border-color: var(--accent-color) transparent var(--accent-color) transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: -15px;
  z-index: 99999;
  background-color: var(--accent-color);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 0;
}

.scroll-top:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
  color: var(--contrast-color);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
  bottom: 15px;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
  --background-color: color-mix(in srgb, var(--default-color), transparent 96%);
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 25px 0;
  position: relative;
}

.page-title h1 {
  font-size: 24px;
  font-weight: 700;
}

.page-title .breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.page-title .breadcrumbs ol li+li {
  padding-left: 10px;
}

.page-title .breadcrumbs ol li+li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: color-mix(in srgb, var(--default-color), transparent 70%);
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 92px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 76px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--accent-color);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  min-height: calc(100vh - 92px);
  position: relative;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 30%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero .container {
  position: relative;
  z-index: 3;
}

.hero h2 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
}

.hero p {
  margin: 5px 0 0 0;
  font-size: 36px;
  font-weight: 600;
}

.hero p span {
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 32px;
  }

  .hero p {
    font-size: 20px;
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .container {
  background-color: var(--surface-color);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.about .skills-content h5 {
  font-size: 18px;
  font-weight: 700;
  margin: 30px 0 15px 0;
}

.about .progress {
  height: 36px;
  display: block;
  background: none;
  border-radius: 0;
  margin-top: 15px;
}

.about .progress .skill {
  color: var(--default-color);
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: var(--heading-font);
}

.about .progress .skill .val {
  float: right;
  font-style: normal;
}

.about .progress-bar-wrap {
  background: color-mix(in srgb, var(--default-color), transparent 90%);
  height: 10px;
}

.about .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: var(--accent-color);
}

.about .about-me h4 {
  font-size: 28px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-weight: 700;
}

.about .about-me h4:after {
  content: "";
  position: absolute;
  display: block;
  width: 64px;
  height: 3px;
  background: var(--accent-color);
  left: 0;
  bottom: 0;
  margin: auto;
}

.about .about-me p {
  font-size: 18px;
}

/*--------------------------------------------------------------
# Resume Section
--------------------------------------------------------------*/
.resume .resume-title {
  color: var(--heading-color);
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--accent-color);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  /* text-transform: uppercase; */
  /* color: color-mix(in srgb, var(--default-color), transparent 20%); */
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: var(--background-color);
  border: 2px solid var(--accent-color);
}
/*-----------------------------------------------------------------------------------
# Resume download button
*/-----------------------------------------------------------------------------------
.download-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0073e6; /* Button background color */
  color: #fff; /* Button text color */
  text-decoration: none; /* Remove underline */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  font-weight: 600; /* Font weight */
  transition: background-color 0.3s ease; /* Transition effect */
}

.download-btn:hover {
  background-color: #005bb5; /* Darker background on hover */
  color: #fff; /* Text color on hover */
  text-decoration: none; /* Remove underline on hover */
}
/*--------------------------------------------------------------
# Publications Section
--------------------------------------------------------------*/
.publications-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center; 
  text-align: center;
  padding: 20px 0;
}

.publications .publication-card {
  flex: 0 0 calc(50% - 10px); /* Two cards per row */
  background-color: var(--surface-color);
  box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
  padding: 40px;
  transition: all ease-in-out 0.3s;
  border-radius: 18px;
  border-bottom: 5px solid var(--surface-color); /* Add this line */
  height: 100%;
  display: flex;
  flex-direction: column;
}

.publications .publication-image {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 15px;
}

.publications .publication-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

@media (min-width: 1365px) {
  .publications .publication-card:hover {
    transform: translateY(-10px);
    border-bottom-color: var(--accent-color); /* Change this line */
  }

  .publications .publication-card:hover h3 {
    color: var(--accent-color);
  }
}

.publications .publication-card:hover .publication-image img {
  transform: scale(1.05);
}

.publications .publication-card h3 {
  font-size: 25px;
  margin: 0 0 6px 0;
  color: var(--heading-color);
  font-weight: 600;
  line-height: 1.3;
  transition: color 0.3s ease;
}

.publications .publication-card .authors {
  font-size: 15px; /* Increased font size */
  margin: 0 0 3px 0; /* Reduced bottom margin */
  color: #6c757d;
  font-weight: 500;
}

.publications .publication-card .metadata {
  font-size: 15px; /* Increased font size */
  color: #6c757d;
  /* margin-top: 1px; Reduced top margin */
  font-style: italic;
}

.publications .btn-publication {
  display: inline-block;
  margin-top: 12px;
  padding: 6px 15px;
  background-color: var(--accent-color);
  color: var(--contrast-color);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 12px;
  align-self: flex-start;
}

.publications .btn-publication:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
}

@media (max-width: 768px) {
  .publications .publication-card {
    flex: 0 0 100%; /* Full width on smaller screens */
  }

  .publications .publication-card:hover {
    transform: translateY(-10px);
    border-color: var(--accent-color);
  }
}

/*--------------------------------------------------------------
# Projects Section
--------------------------------------------------------------*/
.projects .project-item {
  background-color: var(--surface-color);
  box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
  padding: 40px;
  transition: all ease-in-out 0.3s;
  border-radius: 18px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid transparent; /* Add this line */
  /* align-items: center; */
}

.projects .project-item:hover {
  transform: translateY(-10px);
  border-bottom-color: var(--accent-color); /* Add this line */
}

/* If you want to keep the existing hover effect for larger screens and add this new effect for all screen sizes, you can modify the existing media query like this: */

@media (min-width: 1365px) {
  .projects .project-item:hover {
    transform: translateY(-10px);
  }
}

/* This ensures the blue bottom border appears on hover for all screen sizes, while the translateY effect only happens on larger screens */

.projects .project-image {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.projects .project-image img {
  max-width: 95%;
  max-height: 95%;
  object-fit: scale-down;
  transition: transform 0.3s ease;
}

.projects .project-item:hover .project-image img {
  transform: scale(1.05);
}

.projects .project-item h3 {
  font-weight: 700;
  margin: 0 0 10px 0;
  font-size: 24px;
  transition: ease-in-out 0.3s;
}

.projects .project-item .project-status {
  font-size: 16px;
  color: #4CAF50;
  margin: 0 0 15px 0;
  font-weight: 600;
  font-style: italic;
}

.projects .project-item p {
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 30px;
  text-align: center;
}

.projects .project-link {
  margin-top: auto;
  text-align: center;
  padding-top: 30px;
}

.projects .btn-project {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--accent-color);
  color: var(--contrast-color);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.projects .btn-project:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
}

@media (min-width: 1365px) {
  .projects .project-item:hover {
    transform: translateY(-10px);
    border-color: var(--accent-color);
  }

  .projects .project-item:hover h3 {
    color: var(--accent-color);
  }
}

/* Adjust the column width for larger screens */
@media (min-width: 992px) {
  .projects .col-lg-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* Further adjust for extra-large screens */
@media (min-width: 1200px) {
  .projects .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

/*--------------------------------------------------------------
# Project Details Section
--------------------------------------------------------------*/
.project-details .projects-list {
  background-color: var(--surface-color);
  padding: 10px 30px;
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  margin-bottom: 20px;
}

.project-details .projects-list a {
  display: block;
  line-height: 1;
  padding: 8px 0 8px 15px;
  border-left: 3px solid color-mix(in srgb, var(--default-color), transparent 70%);
  margin: 20px 0;
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  transition: 0.3s;
}

.project-details .projects-list a.active {
  color: var(--heading-color);
  font-weight: 700;
  border-color: var(--accent-color);
}

.project-details .projects-list a:hover {
  border-color: var(--accent-color);
}

.project-details .projects-img {
  margin-bottom: 20px;
}

.project-details h3 {
  font-size: 26px;
  font-weight: 700;
}

.project-details h4 {
  font-size: 20px;
  font-weight: 700;
}

.project-details p {
  font-size: 15px;
}

.project-details ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.project-details ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.project-details ul i {
  font-size: 20px;
  margin-right: 8px;
  color: var(--accent-color);
}

/*--------------------------------------------------------------
# Research Interests Section
--------------------------------------------------------------*/
.research-interests .interest-item {
  padding: 30px;
  background: var(--surface-color);
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.research-interests .interest-item .icon {
  width: 64px;
  height: 64px;
  background: var(--accent-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.research-interests .interest-item .icon i {
  color: var(--contrast-color);
  font-size: 28px;
  line-height: 0;
}

.research-interests .interest-item h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 15px 0;
  position: relative;
  padding-bottom: 15px;
}

.research-interests .interest-item h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: var(--accent-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.research-interests .interest-item p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.research-interests .interest-item:hover {
  transform: translateY(-10px);
}

.research-interests .interest-item:hover .icon {
  background: var(--contrast-color);
}

.research-interests .interest-item:hover .icon i {
  color: var(--accent-color);
}

@media (max-width: 768px) {
  .research-interests .interest-item {
    margin-bottom: 30px;
  }
}


/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-wrap {
  background-color: var(--surface-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 30px;
}

.contact .info-item i {
  font-size: 20px;
  color: var(--accent-color);
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  border: 1px solid color-mix(in srgb, var(--accent-color), transparent 40%);
  margin-right: 15px;
}

.contact .info-item h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 2px 0;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.contact .info-item:hover i {
  background: var(--accent-color);
  color: var(--contrast-color);
}

/*----------------------------------------------------------------------
# Social Links
*/----------------------------------------------------------------------
/* Style for social icons in the footer */
.social-links a {
  display: inline-block;
  margin: 0 10px; /* Space between icons */
  color: #fff; /* Default icon color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth transition */
}

/* Add hover effect for icons */
.social-links a:hover {
  color: #0073e6; /* Change color on hover */
}

/* Style for the PNG icon */
.social-links img {
  width: 24px; /* Set width of the icon */
  height: 24px; /* Set height of the icon */
  margin-top: -2px; /* Adjust vertical alignment */
  transition: transform 0.3s ease; /* Smooth hover effect */
}

.social-links img:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
}

.social-links svg {
  width: 24px; /* Adjust size */
  height: 24px; /* Adjust size */
  fill: #fff; /* ORCID green color */
  margin-top: -2px; /* Align with other icons */
  transition: transform 0.3s ease;
}

.social-links svg:hover {
  transform: scale(1.1); /* Enlarge on hover */
  color: #0073e6; /* Change color on hover */
}




